<?php
$pageTitle = "Contact";
include("includes/header.php");
?>

/ Main Content
%section
    .container
        %h2
            Contact
        %p
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p

<?php include("includes/footer.php"); ?>