<?php
$pageTitle = "Home";
include("includes/header.php");
?>

/ Main Content
%section
    .container
        %p
            This website is under construction. Check back soon, and here you'll find a few pithy sentences about me. Maybe there'll even be a photo or avatar.
        %article
            %h3
                Mad skills
            %ul
                %li
                    %p
                        Attractive, relevant design. I will work with you to create or customize beautiful designs and layouts that best reflect your products or services.
                %li
                    %p
                        Front-end web development. 
                %li
                    %p
                        Clear, concise content creation and editing.
        %article
            %h3
                Work Samples
            %ul
                %li
                    %p
                        Linked image to my past work.
                %li
                    %p
                        Linked image to my past work. 
                %li
                    %p
                        Linked image to my past work.

<?php include("includes/footer.php"); ?>