!!!5

%html(xmlns="http://www.w3.org/1999.html")
    %head
        %title
            Home | Fran Levy
        %link(rel='stylesheet' type='text/css' href='stylesheets/global.css')

    %body
        / Header and Navigation
        %header
            .container
                %h1
                    Fran Levy
            %nav
                .container
                    %ul.link-list
                        %li
                            %a.active(href='#')About
                        %li
                            %a(href='#')Portfolio
                        %li
                            %a(href='#') Contact
        %section
            .container
                %h2
                    Introduction to my website
                %p
                    Main content goes here.
                %p
                    Let's add some filler to see how it looks. Let's add some filler to see how it looks. Let's add some filler to see how it looks.
                %p
                    Let's add some filler to see how it looks.
        %footer
            .social-media
                %ul.link-list.regular
                    %li
                        %a.active(href='#')Email icon
                    %li
                        %a(href='#')LinkedIn icon
            .container
                %h5
                    Copyright 2013 Fran Levy. All rights reserved.

