<?php include("includes/header.php"); ?>

/ Main Content
%section
    .container
        %h2
            Who I Am
        %p
            This website is under construction. Check back soon, and here you'll find a few pithy sentences about me. Maybe there'll even be a photo or avatar.
        %article
            %h3
                Mad skills
            .category
                %p
                    Attractive, relevant design. I will work with you to create or customize beautiful designs and layouts that best reflect your products or services.
            .category
                %p
                    Front-end web development. 
            .category
                %p
                    Clear, concise content creation and editing.
        %article
            %h3
                Work Samples
            .category
                %p
                    Linked image to my past work.
            .category
                %p
                    Linked image to my past work.
            .category
                %p
                    Linked image to my past work.

<?php include("includes/footer.php"); ?>