<?php include("includes/header.php"); ?>

/ Main Content
%section
    .container
        %h2
            This is only a test.
        %p
            Who I am: A few pithy sentences, maybe a photo or avatar.
        %article
            %h3
                Mad skills
            .category
                %p
                    (Insert design icon)
                %p
                    Attractive, relevant design. I will work with you to create or customize beautiful designs and layouts that best reflect your products or services.
            .category
                %p
                    (Insert standard HTML5 and CSS3 icons)
                %p
                    Front-end web development. 
            .category
                %p
                    (Insert writing icon)
                %p
                    Clear, concise content creation and editing.
        %article
            %h3
                Work Samples
            .category
                %p
                    Linked image to my past work.
            .category
                %p
                    Linked image to my past work.
            .category
                %p
                    Linked image to my past work.

<?php include("includes/footer.php"); ?>