!!!5

%html(xmlns="http://www.w3.org/1999.html")
    %head
        %title
            Home | Fran Levy
        %link(rel='stylesheet' type='text/css' href='stylesheets/global.css')
        %script(src='navicon.js')

    %body
        / Header and Navigation
        %header
            .container
                .title
                    %h1
                        %a(href='index.html')Fran Levy
                .toggle
                    %a.navicon.link(href="#mainmenu")
        %nav
            .container
                #mainmenu
                    %ul.link.many-lines
                        %li
                            %a(href='#')About
                        %li
                            %a(href='#')Portfolio
                        %li
                            %a(href='#') Contact
        / Main Content
        %section
            .container
                %h2
                    Introduction to my website
                %p
                    Main content goes here.
                %p
                    Let's add some filler to see how it looks. Let's add some filler to see how it looks. Let's add some filler to see how it looks.
                %p
                    Let's add some filler to see how it looks.
        / Footer
        %footer
            .social-media
                %ul.link.one-line
                    %li
                        %a(href='#')Email icon
                    %li
                        %a(href='#')LinkedIn icon
            .site-map
                %ul.link.one-line
                    %li
                        %a(href='#')About
                    %li
                        %a(href='#')Portfolio
                    %li
                        %a(href='#')Contact
            .container
                %h5
                    Copyright &copy; 2013 Fran Levy. All rights reserved.

