<?php
$pageTitle = "Portfolio";
include("includes/header.php");
?>

/ Main Content
%section
    .container
        %h2
            Portfolio
        %p
            Check back soon for samples of my work.
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p

<?php include("includes/footer.php"); ?>