<?php
$pageTitle = "Portfolio";
include("includes/header.php");
?>

/ Main Content
%section
    .container
        %h2
            Portfolio
        %article
            %h3
            .category
                %img(src="images/websites/force-web-proposal_p1.svg")
            .category
                %img(src="images/websites/LizKalish_screenshot.png")
            .category
                %img(src="images/websites/WIWYK_screenshot.png")
            .category
                %img(src="images/websites/cck-web-proposal_p1.svg")
            .category
                %img(src="images/websites/bpi-web-proposal_p1.svg")
            .category
                %img(src="images/graphic-design/gsd-V3-book-spread.svg")
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p

<?php include("includes/footer.php"); ?>