<?php
$pageTitle = "Portfolio";
include("includes/header.php");
?>

/ Main Content
%section
    .container
        %h2
            Portfolio
        %article.gallery
            %h3
            .category
                %img(src="images/websites/force-web-proposal_p1.svg" alt="FORCE website")
            .category
                %img(src="images/websites/LizKalish_screenshot.png" alt="Liz Kalish Paintings website")
            .category
                %img(src="images/websites/WIWYK_screenshot.png" alt="What I Wish You Knew website")
            .category
                %img(src="images/websites/cck-web-proposal_p1.svg" alt="Chocolate-Covered Katie website")
            .category
                %img(src="images/websites/bpi-web-proposal_p1.svg" alt="Business Performance Institute website")
            .category
                %img(src="images/graphic-design/gsd-v3-bookspread.svg" alt="Harvard Graduate School of Design 2-page book spread")
        %article
            %h3
            .category
                %p
            .category
                %p
            .category
                %p

<?php include("includes/footer.php"); ?>