/**** FORMS & TABLES ****/

form
    +box-sizing($box-model)
    width: auto
    text-align: left

table
    width: 100%
    max-width: 50rem

input, textarea
    width: 100%
    font-size: 1.4rem
    line-height: 1.2

input[type="submit"]
    width: auto

th, td
    padding: 1rem

td 
    width: 100%

label
    display: block
    @extend p
    padding-top: 0
    font-style: bold

