/* GENERAL LAYOUT */
html
    height: auto
    min-height: 100%

body
    font:
        family: $serif
        size: 10px
    background: $body-bg

.container
    margin: 0 auto
    clear: both
    +box-sizing($box-model)
    padding: 1.25% 2.5%
    width: 100%
    max-width: 40rem
    overflow: hidden

.center
    text-align: center