/**** LISTS ****/

/* Many lines, one item per line */
.many-lines
    li
        margin: 0
        padding: 2% 0

/* One line, multiple items per line */
.one-line
    li
        display: inline-block