/* LISTS */

.link-list
    li
        margin: 0
        padding-top: 0.5em
        padding-bottom: 0.5em
        
    a:link, a:visited, a:hover, a:active, a:focus
        text-decoration: none
        color: $black
        

    a:link, a:visited
        color: $bold-color

    .active, a:hover, a:active, a:focus
        color: $red


.regular
    li
        display: inline-block

    a:link, a:visited, a:hover, a:active, a:focus
        padding: 0 2%
        border-right:
            width: 0.15em
            style: solid
            color: $black
        &:last-child
            border: none