/**** MEDIA QUERIES ****/

/* Screen widths 500px and greater */
@media screen and (min-width: 500px)
    /* general layout */
    .container
        padding: 2% 5%
        max-width: 100rem

    h1
        font:
            size: 2.9rem

    /* header */
    .title
        padding-top: 0rem
    
    /* navigation */
    .nav-btn
        padding-top: 4.5%
    
    /* footer */
    footer
        .inner-wrap
            padding-top: 2.5rem

    .social-media
        text-align: right

    .site-map
        padding:
            top: 0%
            bottom: 3%

    .copyright
        padding:
            bottom: 2%  

/* Screen widths 700px and greater */
@media screen and (min-width: 700px)
    /* general layout */
    body
        +transparentgradient-bg-img($body-bg, $near-black, 0.90, $body-bg-pattern, repeat, top left)
    
    .container
        padding: 1.5% 5%

    /* header */
    header
        +bg-img($scallop-header, repeat-x, bottom left)

    .title
        width: 50%
        padding-top: 0rem

    /* navigation */
    #mainmenu
        clear: none

    .nav-btn
        display: none

    nav
        clear: none
        float: right
        width: 50%
        text-align: right
        background-color: transparent
        padding-top: 2rem
        margin-top: 0

        a:hover, a:active, a:focus
            color: $link-hover

        li
            padding: 2% 0% 0% 3%
            display: inline-block

            &:nth-child(2)
                padding-top: inherit
                padding-bottom: inherit

            &:last-child
                padding-right: 0

            &:hover, &:focus, &:active
                border: none


    /* main content */
    section
        +bg-img($section-bg-pattern, repeat, top left)

    .category
        width: 29%
        float: left
        padding-right: (13%/2)

        &:nth-child(3n+1)
            padding-right: 0%

    .gallery
        .category
            padding-bottom: (13%/2)

    /* footer */
    footer
        +bg-img($scallop-footer, repeat-x, top left)

        .inner-wrap
            padding-top: 3rem

    .site-map
        +bold-caps(1.1rem, 2, 0.025rem, 1rem)

        li
            display: inline-block
            padding-bottom: 0rem


            &:last-child a
                border: none

        a:link, a:visited, a:hover, a:active, a:focus
            padding: 0 2rem
            border-right:
                style: solid
                color: $link-color
            border-right-width: 0.1rem

    .copyright
        p
            font-size: 1.0rem


/* Screen widths 800px and greater */
@media screen and (min-width: 800px)
    /* general layout */
    .container
        padding: 1% 5%

    /* navigation */
    nav
        padding-top: 1rem

    /* footer */
    footer
        .inner-wrap
            padding-top: 2.5rem

    .site-map
        a:link, a:visited, a:hover, a:active, a:focus
            padding: 0 2rem


/* Screen widths 800px and greater */
@media screen and (min-width: 1000px)
    /* navigation */
    nav
        padding-top: 1rem
    
    /* footer */
    footer
        .inner-wrap
            padding-top: 2rem


/* General media queries */
@viewport
    width: extend-to-zoom
    zoom: 1.0

img, video, canvas
    max-width: 100%