/**** MEDIA QUERIES ****/

/* Screen widths 400px and greater */
@media screen and (min-width: 500px)
    .container
        max-width: 1000px
    .social-media
        background: url("images/background/gray-stripe1.png") repeat-x top left
        padding:
            top: 2%
            bottom: 2%
    .site-map
        padding:
            top: 2%
            bottom: 2%

/* Screen widths 6500px and greater */
@media screen and (min-width: 650px)
    .navicon
        display: none



/* General media queries */

@viewport
    width: device-width
    zoom: 1

img, video, canvas
    max-width: 100%