/**** MEDIA QUERIES ****/

/* Screen widths 500px and greater */
@media screen and (min-width: 500px)
    .container
        padding: 2% 5%
        width: 90%
        max-width: 1000px
    .social-media
        text-align: right
        background-size: 0.5em 0.5em
        background-color: $darker
        background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        -pie-background: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) 0 0 / 0.5em 0.5em, $darker
        behavior: url(/pie/PIE.htc)
    .site-map
        padding:
            top: 2%
            bottom: 2%
    footer
        background-image: url("../images/background/cincinnati-skyline.png")
        background-size: 100%
        background-repeat: no-repeat
        background-position: 50% 0%


/* Screen widths 650px and greater */
@media screen and (min-width: 650px)
    .navicon
        display: none


/* General media queries */
@viewport
    width: device-width
    zoom: 1

img, video, canvas
    max-width: 100%