// MIXINS
=shadow($shadow...)
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    box-shadow: $shadow

=radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius

=bg-img($imgpath, $position, $repeat)
    background:
        image: url($imgpath)
        position: $position
        repeat: $repeat    
