/* TYPOGRAPHY */

/* All font sizes calculated based on 1em = 10px */
p
    font:
        size: 1.7em
        weight: normal
    line-height: 1.3
    padding-top: 0.75em

h1
    font:
        family: $serif
        size: 4em
    color: $black

h2
    +bold-caps(2em, 2, 0.025em, 0em)

h3
    color: $black
    text-align: left
    +bold-caps(1.7em, 1.8, 0.025em, 1em)

h4
    font:
        family: $serif
        size: 2em
        weight: normal
    text-transform: capitalize
    text-align: center
    color: $serif-heading

h5
    font:
        size: 1.7em
        weight: normal

a:link, a:visited
    text-decoration: none
    color: $orange
    
a:hover, a:active, a:focus
    color: $link-hover

li
    display: inline-block