/* TYPOGRAPHY */

/* All font sizes calculated based on 1em = 10px */
p
    font:
        size: 1.7em
        weight: normal
    line-height: 1.2em
    padding-top: 1em

h1
    font:
        family: $serif
        size: 5em
    color: $black

h2
    font:
        size: 2em
    line-height: 1.2em
    letter-spacing: 0.025em
    text-transform: uppercase

h3
    color: $black
    text-align: center
    @extend .small-bold-caps

h4
    font:
        family: $serif
        size: 2em
        weight: normal
    text-transform: capitalize
    text-align: center
    line-height: 2em
    color: $serif-heading

h5
    font:
        size: 1.6em
        weight: normal
    line-height: 1.2em

.small-bold-caps
    font:
        weight: bold
        size: 1.8em
    letter-spacing: 0.025em
    text-transform: uppercase