// VARIABLES

// Font characteristics
$serif: Times, serif
$serif-heading: #ef4137 
$sans-serif: Tahoma, sans-serif
$bold-color: #131313
$black: #000

// Other colors
$white: #FFF
$off-white: #d6d9dc
$red: #e07e76
$red-shadow: #A00000
$blue: #AF9EF1
$footer-bg: #ccc
$social-bg: #453F3F
$link-hover: orange

// Stripes
$lighter: #3B3737
$darker: #292727

//Other variables