// VARIABLES

// Font characteristics
$serif: Times, serif
$serif-heading: #ef4137 
$sans-serif: Tahoma, sans-serif

// Colors
$bold-color: #131313
$black: #000
$dark-font: #1B1C1D
$red: #e07e76
$red-shadow: #A00000
$blue: #AF9EF1
$orange: #FFA400
$white: #FFF
$off-white: #F0F1F2
$cream: #FCFFF0
$beige: #FDFFF0
$lighter: #63625F
$darker: #453F3F

// Background patterns
$chegg-white-light: "../images/background/chegg-white-light.png"
$chegg-white: "../images/background/chegg-white.png"
$theme-foundry-cream: "../images/background/themefoundry-cream.jpg"
$basecamp-whiter: "../images/background/basecamp-whiter.png"
$basecamp-grayer: "../images/background/basecamp-grayer.png"

// Background and color values named through variables
$header-bg: $darker
$nav-bg: $darker
$section-bg: $basecamp-whiter
$footer-bg: $lighter
$social-bg: $darker
$link-hover: $beige

// Other variables
$box-model: border-box