// VARIABLES

// Font characteristics
$serif: Times, serif
$serif-heading: #ef4137 
$sans-serif: Tahoma, sans-serif
$bold-color: #131313
$black: #000

// Other colors
$white: #FFF
$off-white: #F0F1F2
$beige: #FFFFD1
$light-yellow: #FEFEAE
$chegg-white-light: "../images/background/chegg-white-light.png"
$chegg-white: "../images/background/chegg-white.png"
$theme-foundry-cream: "../images/background/themefoundry-cream.jpg"
$basecamp-whiter: "../images/background/basecamp-whiter.png"
$red: #e07e76
$red-shadow: #A00000
$blue: #AF9EF1
$orange: #FFA400

$lighter: rgb(252, 255, 240)
$darker: #453F3F

$nav-bg: $off-white
$content-bg: $basecamp-whiter
$footer-bg: $lighter
$social-bg: $darker
$link-hover: $off-white

//Other variables