/* html5doctor.com Reset Stylesheet */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* Menu Toggle */
input {
  display: none; }

label {
  background: whitesmoke;
  background: linear-gradient(white, #eeeeee);
  border: 0.1em solid #cccccc;
  border-radius: 1em;
  cursor: pointer; }

label:hover {
  color: #f7941d; }

input:checked + label {
  background: whitesmoke;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #8c9198; }

nav {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s linear; }

/* */
input:checked ~ nav {
  max-height: 500px; }

/* */
/* TYPOGRAPHY */
/* All font sizes calculated based on 1em = 10px */
p {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 1em; }

h1 {
  font-family: Times, serif;
  font-size: 5em;
  color: black; }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

h3 {
  color: black;
  text-align: center; }

h4 {
  font-family: Times, serif;
  font-size: 2em;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  line-height: 2em;
  color: #ef4137; }

h5 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.2em; }

.small-bold-caps, h3, nav, footer .site-map {
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

/* LISTS */
/* One item per line */
.many-lines li {
  margin: 0;
  padding: 2% 0; }

/* Multiple items per line */
.one-line li {
  display: inline-block; }

/* Link characteristics */
.link a:link, .link a:visited, .link a:hover, .link a:active, .link a:focus {
  text-decoration: none;
  color: black; }
.link a:link, .link a:visited {
  color: black; }
.link .active, .link a:hover, .link a:active, .link a:focus {
  color: orange; }

/* GENERAL LAYOUT */
body {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  background-color: #4c6176; }

.container {
  margin: 0 auto;
  padding: 1.25% 2.5%;
  width: 95%;
  max-width: 400px; }

/* HEADER */
header {
  background-color: #e07e76;
  width: 100%; }

/* NAVIGATION */
nav {
  float: left;
  text-align: left;
  width: 100%;
  background-color: #4c6176; }
  nav .container {
    padding-top: 2.25%;
    padding-bottom: 2.25%; }

/* MAIN CONTENT */
section {
  width: 100%;
  background-color: #af9ef1;
  padding-top: 2%;
  padding-bottom: 2%; }

/* FOOTER */
footer {
  border-top: solid 0.25em orange;
  text-align: center; }
  footer .social-media {
    background: #453f3f;
    padding-top: 2%;
    padding-bottom: 2%; }
  footer .site-map {
    padding-top: 2%;
    padding-bottom: 2%; }
    footer .site-map a:link, footer .site-map a:visited, footer .site-map a:hover, footer .site-map a:active, footer .site-map a:focus {
      padding: 0 2%;
      border-right-width: 0.15em;
      border-right-style: solid;
      border-right-color: black; }
      footer .site-map a:link:last-child, footer .site-map a:visited:last-child, footer .site-map a:hover:last-child, footer .site-map a:active:last-child, footer .site-map a:focus:last-child {
        border: none; }

/* MEDIA QUERIES */
@viewport {
  width: device-width;
  zoom: 1; }

@media screen and (max-width: 480px) {
  footer .social-media {
    background: url("/images/background/gray-stripe1.png") repeat left top; } }
img, video, canvas {
  max-width: 100%; }
