.icon-octocat_orangeFFA400 {
	background-image: url('png/octocat_orangeFFA400.png');
	background-repeat: no-repeat;
    background-size: 100%;
}

.icon-octocat_orangeFFA400:hover, .icon-octocat_orangeFFA400:focus {
    background-image: url('png/octocat_white.png');
}

.icon-linkedin-hollow-text {
    background-image: url('png/linkedin-hollow-text.png');
    background-repeat: no-repeat;
    background-size: 100%;
}