/**** FOOTER ****/

footer
    text-align: center

    .site-copy-wrap
        padding: 0

.social-media
    padding-top: 3rem
    font-size: 1.5rem
    
    li 
        padding-left: 2%

.site-map
    padding:
        bottom: 5%
    +bold-caps(1.3rem, 1.7, 0.15rem, 0)

    li
        display: block
        padding-bottom: 0.5rem

.copyright
    padding:
        bottom: 1.5rem
    p
        font-size: 1.1rem
        color: $orange