/**** FOOTER ****/

footer
    text-align: center
    +bg-img($content-bg, top left, repeat)
    
.social-media
    padding: 5% inherit
    background-color: $social-bg
    li 
        padding-left: 2%

.site-map
    padding:
        bottom: 5%
    +bold-caps(1.5em, 1.7, 0.025em, 1em)

    a:link, a:visited, a:hover, a:active, a:focus
        padding: 0% 2%
        color: $black
        border-right:
            width: 1%
            style: solid
            color: $black
        &:last-child
            border: none

.copyright
    padding:
        bottom: 1.5em