/**** HEADER ****/

header
    background-color: $header-bg
    width: 100%
    overflow: overlay

.title
    float: left
    width: 70%
    padding-top: 4%
    padding-bottom: 3%
    a
        color: $orange