/**** HEADER ****/

header
    width: 100%
    overflow: overlay

    .inner-wrap
        margin-top: 2rem
        margin-bottom: 3rem
        background-color: $header-bg

.title
    float: left
    width: 80%
    padding-top: 0rem
    padding-bottom: 0rem
    a
        color: $link-color