/**** NAVIGATION ****/

/* NAVICON */

.nav-btn
    float: right
    width: 20%
    padding: 11% 0%

//
    Three Line Navicon ("Hamburger")
    by "Elijah Manor"
    http://www.elijahmanor.com/css-animated-hamburger-icon/
    (modified by Fran Levy)

.navicon span, .navicon span:before, .navicon span:after
    cursor: pointer
    border-radius: 1rem
    height: 0.5rem
    width: 3rem
    background: $link-color
    position: absolute
    display: block
    content: ""

.navicon span:before
    top: -1rem

.navicon span:after
    bottom: -1rem


/* MAIN MENU NAVIGATION */

#mainmenu
    clear: both

nav
    clear: both
    float: left
    text-align: left
    +box-sizing($box-model)
    width: 100%
    background-color: none
    +bold-caps(1.3rem, 1.7, 0.15rem, 0)
    margin-top: 0rem

    a:link, a:visited, a:hover, a:focus
        color: $link-color

    a:active
        color: $link-hover

    li
        +box-sizing($box-model)
        margin: 0
        padding: 2.5% 0
        display: block

        &:nth-child(2)
            padding-top: 2.5%
            padding-bottom: 2.5%

        &:hover, &:focus, &:active
            border:
                top: solid 0.1rem $lighter
                bottom: solid 0.1rem $lighter