/* MAIN CONTENT */

section
    width: 100%
    padding:
        top: 1.5%
        bottom: 2.5%
    background-color: $section-bg

    h2, h3
        text-align: center
    
    a
        color: $dark-font
        
    a:hover, a:focus
        color: $link-hover

article
    clear: both
    width: 100%